<div class="col-sm-12 top-nav">
	<div class="col-sm-4 text-left">
		 <span>返回</span>
	</div>
	<div class="col-sm-4 text-center">
		
	</div>
	<div class="col-sm-4"></div>
</div>

<style>

	.top-nav{
		height: 5rem;
		background-color: #5bc0de;
	}
</style>

