<%- include global/header.ejs %>


<style>
	.data-poems-list{
		font-size: 1.4rem;
		width: 100%;
		color: #614e3c;
		background: #f6f6f1;
		padding:6.5rem 1.5rem;
	}
</style>
<link rel="stylesheet" href="">

<p class="text-center" style="background: #5bc0de;height:5rem;">
	
</p>

<div class="data-poems-list col-sm-12">





	<!-- 全局 -->
	<p class="bg-info text-center">
		<a href="poems">列表</a>		
		<a href="poems?act=add">增加</a>
		<a href="poems?act=correction">纠错</a>
	</p>
	<p class="bg-success text-center">
		<abbr title="attribute">attr</abbr>
		<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
		<p class="text-center">
			<abbr>WePoem 微诗 CopyRight</abbr>
		</p>
	</p>

	<p class="text-center" style="background: #5bc0de;">
		<img src="img/wepoem_400_200.png" style="height:80px;" alt="">
	</p>

	
</div>

<script src="js/poems/poem-edit-or-add.js"></script>

<%- include global/footer.ejs %>
